<p>
  <label for="name">Category name</label><br />
  <%= control_for @category, :name, :text, :size => 51 %>
</p>

<p>
  <button type="submit" name="Submit" value="Submit">&nbsp;Save category&nbsp;</button>
</p>
