<form action="<%= url(:controller => 'categories', :action => 'update', :id => @category.id) %>" method="post">
<%= partial :category %>
</form>

<p>
	<%= link_to "Back to categories", url(:controller => "categories") %>
</p>