body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  background-color: #fff;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html {
  height: 100%;
  margin-bottom: 1px;
}

#header{
  text-align: right;
  padding-top: 1em;
  margin-right: 38px;
}

#header ul{
  list-style: none;
}

#header li{
  display: inline;
}

#header li a{
  color: #222;
  font-size: 14px;
  padding: 1em;	
}

#header li a:hover{
  background: #333;
  color: #eee;
  text-decoration: none;
}

#container {
  width: 90%;
  padding: 1em;
  text-align: left;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  border: 2px solid #ddd;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  color: #c55;
  padding: 5px;
}
h2 {
  font-size: 24px;
  font-weight: 300;
  color: #888;
  padding: 5px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: #4d9b12;
  padding: 5px;
}

p {
  font-size: 14px;
  color: #444;
  padding: 5px;
}

a {
  font-size: 12px;
  color: #00809A;
  text-decoration: none;
}

a:hover {
  color: #00809A;
  text-decoration: underline;
}

label{
  font-size: 14px;
  font-weight: bold;
  color: #666;  	
}

table{
	margin: 2em 1em 1em;
	border: 1px solid #888;
	background-color: #eee;
}

td, th{
	padding: 0.3em;
	border: 1px solid #ccc;
}

#footer{
	padding: 1em;
	text-align: center;
}

#footer a{
	color: #333;
	font-size: 14px;
}