<p>
  <label for="key">Key</label><br />
  <%= control_for @global, :gkey, :text, :size => 51 %>
</p>

<p>
  <label for="value">Value</label><br />
  <%= control_for @global, :gvalue, :text, :size => 51 %>
</p>

<p>
  <button type="submit" name="Submit" value="Submit">&nbsp;Save global&nbsp;</button>
</p>
