<form action="<%= url(:controller => 'articles', :action => 'update', :id => @article.id) %>" method="post">
<%= partial :article %>
</form>

<p>
	<%= link_to "Back to articles", url(:controller => "articles") %>
</p>